language: node_js
node_js:
  - "node"
  - "lts/*"
  - "7"
cache:
  directories:
    - node_modules
services:
  - mongodb
before_script:
  - node server/seedDB.js
script:
  - npm run test:lint
  - npm test