// Theme colors
$primary1-color: #006064;
$primary2-color: #1A237E;
$accent1-color: #BF360C;
$picker-header-color: #00838F;
$btn-bg: #8E1732;
$secondary-text: #8F959C;
$social-icon-color: #FFF;

// Bar stlyling
$bar-height: 3.5em;
$bar-bg: #363F4B;

$header-font-weight: 400;