@import './constants/shared';

.form-wrapper {
  background: #FFF;
  display: block;
  margin: 30px auto 0;
  padding: 50px;
  width: 80%;

  .form-field-group {
    display: inline-flex;

    input,
    select {
      margin: 5px;
    }
  }
}