@import './constants/shared';

.form-wrapper {
  background: #FFF;
  display: block;
  margin: 30px auto 0;
  max-width: 80vh;
  min-width: 60vh;
  padding: 50px;

  .form-field-group {
    display: inline-flex;

    input,
    select {
      margin: 5px;
    }
  }
}