body a {
  color: #000;
  text-decoration-style: dotted;
}

body a:visited {
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-color: #363F4B;
  color: #8F959C;
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5rem;
  padding: 4em 2em;
  width: auto;
}

.footer a {
  color: #8F959C;
}

.footer a:visited {
  color: #8F959C;
}

.footer a:active {
  color: #8F959C;
}

.footer div {
  display: inline;
}

.fa {
  color: white;
}

.footerText {
  float: left;
}

.footerText div {
  display: inline;
  padding: 0 15px;
}

.footerText a {
  text-decoration: none;
}

.footerText a:visited {
  text-decoration: none;
}

.footerIcons {
  float: right;
  padding-right: 10%;
}

.footerIcons a {
  display: inline;
  padding: 0 15px;
  ;
}

.emailValid {
  border-color: green;
}

.emailInvalid {
  border-color: red;
}