@import './constants/shared';

.input-wrapper {
  margin-bottom: 45px;
  position: relative;

  input {
    border: 0;
    border-bottom: 1px solid $secondary-text;
    display: block;
    font-size: 1rem;
    max-width: 300px;
    min-width: 100px;
    padding: 7px 7px 7px 5px;

    &:focus {
      border-bottom: 1px solid $accent1-color;
      outline: none;
    }

    &:focus ~ label {
      font-size: 0.75rem;
      top: -10px;
    }
  }

  label {
    color: $secondary-text;
    font-size: 0.9rem;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 5px;
    transition: 0.2s ease;
  }
}